@{
    ViewBag.Title = "Index";
}



<h2>Salaries for the Reindeers</h2>
<table style="border: 1px solid;">
    <tr style="border: 1px solid;">
        @foreach (var dataColumn in ViewBag.SalaryTable.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
    </tr>
    @foreach (var salaryRow in ViewBag.SalaryTable.Rows)
    {
        <tr style="border: 1px solid;">
            @for (int i = 0; i < ViewBag.SalaryTable.Columns.Count; i++)
            {
                <td>@salaryRow[i]</td>
            }
        </tr>
    }
</table>
<br />